@using WebApp.Models
@model WebApp.Models.Tenant

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Speakers</title>
</head>
<body>
<div>
    Tenant name: @Model.Name
</div>
</body>
</html>